{% extends 'content.html.twig' %}

{% block pageContent %}
    
    <div class="content-wrapper" style="min-height: 847px;">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">{{ page_title }}</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item "> <a href="path('client_index')"> Client</a></li>
                            <li class="breadcrumb-item active">{{ page_title }}</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div  class="dataTables_wrapper dt-bootstrap4">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="card card-primary">
                                                 {% include 'flash_message.html.twig' %}
                                                 <form action="{{ path('client_form', { action: action, id: id})}}" method="POST">
                                                    <div class="card-body">
                                                        <div class="form-group">
                                                            {{ form_label(form.first_name) }}
                                                            {{ form_widget(form.first_name) }}
                                                        </div>
                                                        <div class="form-group">
                                                            {{ form_label(form.last_name) }}
                                                            {{ form_widget(form.last_name) }}
                                                        </div>
                                                        <div class="form-group">
                                                            {{ form_label(form.address) }}
                                                            {{ form_widget(form.address) }}
                                                        </div>
                                                        <div class="form-group">
                                                            {{ form_label(form.contact_no) }}
                                                            {{ form_widget(form.contact_no) }}
                                                        </div>
                                                        <div class="form-group">
                                                            {{ form_label(form.email) }}
                                                            {{ form_widget(form.email) }}
                                                        </div>

                                                            
                                                        <div class="card-footer text-right">
                                                            <button type="submit" class="btn just-continue btn-primary" name="action" value="{{ action }}"
                                                                data-message="Are you sure you want to save this information?">Submit</button>
                                                            {% if action == 'u' and (userData.type == 'Super Admin' or 'Client Delete' in userData.accesses) %}
                                                                <button type="submit" class="ask-continue btn  btn-danger" name="action" value="d"
                                                                        data-message="Are you sure you want to delete this record?">Delete</button>
                                                            {% endif %}
                                                            <a href="{{ path('client_index') }}" class="button secondary btn btn-secondary">Back</a>
                                                        </div>

                                                        {{ form_widget(form.branch) }}
                                                        {{ form_widget(form.action) }}
                                                        {{ form_widget(form.id) }}
                                                        {{ form_widget(form._token) }}

                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    {% include 'js.html.twig' %}
{% endblock %}