{% extends 'content.html.twig' %}

{% block pageContent %}
    
    <div class="content-wrapper" style="min-height: 847px;">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">{{ page_title }}</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item "> <a href="path('company_index')"> Company</a></li>
                            <li class="breadcrumb-item active">{{ page_title }}</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div  class="dataTables_wrapper dt-bootstrap4">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="card card-primary">
                                                 {% include 'flash_message.html.twig' %}
                                                 <form action="{{ path('company_form', { action: action, id: id})}}" method="POST" enctype='multipart/form-data'>
                                                    <div class="card-body">
                                                         <div class="form-group">
                                                            {{ form_label(form.code)}}
                                                            {{ form_widget(form.code)}}
                                                         </div>
                                                         <div class="form-group">
                                                            {{ form_label(form.description)}}
                                                            {{ form_widget(form.description)}}
                                                         </div>
                                                         <div class="form-group">
                                                            {{ form_label(form.address)}}
                                                            {{ form_widget(form.address)}}
                                                         </div>
                                                            <div class="form-group">
                                                            {{ form_label(form.contact_no)}}
                                                            {{ form_widget(form.contact_no)}}
                                                         </div>
                                                        <div class="form-group">
                                                            {{ form_label(form.email)}}
                                                            {{ form_widget(form.email)}}
                                                         </div>
                                                         <div class="form-group">
                                                            {{ form_label(form.logo)}}
                                                            {{ form_widget(form.logo)}}
                                                         </div>
 
                                                         
                                                    <div class="card-footer text-right">
                                                        <button type="submit" class="btn just-continue btn-primary" name="action" value="{{ action }}"
                                                            data-message="Are you sure you want to save this information?">Submit</button>
                                                         {% if action == 'u' and (userData.type == 'Super Admin') %}
                                                            <button type="submit" class="ask-continue btn  btn-danger" name="action" value="d"
                                                                    data-message="Are you sure you want to delete this record?">Delete</button>
                                                        {% endif %}
                                                        <a href="{{ path('company_index') }}" class="button secondary btn btn-secondary">Back</a>
                                                    </div>

                                                     {{ form_widget(form.action) }}
                                                     {{ form_widget(form.id) }}
                                                     {{ form_widget(form._token) }}
                                                </form>
                                            </div>
                                        </div>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    {% include 'js.html.twig' %}
{% endblock %}