{% extends 'content.html.twig' %}

{% block pageContent %}
    
    <div class="content-wrapper" style="min-height: 847px;">
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">{{ page_title }}</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item active">{{ page_title }}</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div  class="dataTables_wrapper dt-bootstrap4">
                                  <div class='row mb-5'>
                                    
                                        <div class='col-12'>
                                            <form class="form-inline" id='searchFrom'>
                                                <div class="form-group mx-sm-3 mb-2">
                                                    <input type="text" class="form-control datepicker" id="date" placeholder='Date' value='{{ "now"|date("m/d/Y") }}' required>
                                                </div>
                                                <div class="form-group mx-sm-3 mb-2">
                                                    <select class='form-control' id="purok">
                                                        <option >All</option>
                                                        {% for purok in puroks %}
                                                            <option value="{{ purok.idencoded}}">{{purok.description}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <button type="button" class="btn btn-primary mb-2" id='searchBtn'>Search</button>
                                                <div class="form-group mx-sm-3 mb-2">
                                                    <a href='javascript:void(0);' class='btn btn-secondary' target='_blank' id='reportCsvBtn'>Download CSV</a>

                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <table id="consumption-datalist" class="table dataTable">
                                                <thead>
                                                    <tr>
                                                        <th>Meter</th>
                                                        <th>Purok</th>
                                                        <th>Billed Amount</th>
                                                        <th>Consumption</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    {% include 'js.html.twig' %}

    <script language="javascript">
        //<![CDATA[
        $(document).ready(function(){
            consumption.settings.reportConsumptionAjaxUrl = '{{ path("report_consumption_ajax_list")}}';
            consumption.init();
        });
        //]]>
    </script>
{% endblock %}